<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NoteWidgetAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NoteWidget.AddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NoteWidgetAddIn.Properties.Settings>
            <setting name="Markdown_ColorScheme" serializeAs="String">
                <value>System</value>
            </setting>
            <setting name="Markdown_HighlightTheme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Markdown_Preview_Width" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="Markdown_Preview_Height" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Markdown_Preview_Singleton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Markdown_CheatSheet_Width" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="Markdown_CheatSheet_Height" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Markdown_Preview_Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Markdown_Preview_Top" serializeAs="String">
                <value>10</value>
            </setting>
        </NoteWidgetAddIn.Properties.Settings>
        <NoteWidget.AddIn.Properties.Settings>
            <setting name="Markdown_ColorScheme" serializeAs="String">
                <value>System</value>
            </setting>
            <setting name="Markdown_HighlightTheme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Markdown_Preview_Width" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="Markdown_Preview_Height" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Markdown_Preview_Singleton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Markdown_CheatSheet_Width" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="Markdown_CheatSheet_Height" serializeAs="String">
                <value>1000</value>
            </setting>
        </NoteWidget.AddIn.Properties.Settings>
    </userSettings>
</configuration>